<form name="searchGroups" id="searchGroups" class="searchForm" method="POST" action="/reqJoin">
    
    <button type="submit" id="searchButton" name="searchButton">Search</button>
</form>


<h1 class="groupHeader">
    Available Groups
</h1>



{{#if groups.length}}
    {{#each groups}}
        <div class="group">
            <h2>{{groupName}}</h2>
            <span class="colonMenuThing">Top Right Text</span>
            <p>{{location}} | {{course}} | {{startTime}} - {{endTime}} | {{meetingDate}}</p>
            <p>{{description}}</p>
            <form name="reqJoin" id="reqJoin-form" class="joinForm" method="POST" action="/reqJoin">
                <button type="submit" id="joinButton" name="joinButton">Request to Join</button>
            </form>

        </div>
    {{/each}}
{{else}}
    <p class="notFound">No groups found</p>
{{/if}}



