{{#each groups}}
  <div class="group">
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <p>{{Location}}</p>
    <p>Course: {{course}}</p>
    <p>Capacity: {{capacity}}</p>
    <p>{{startTime}} - {{endTime}}</p>
    <p>{{meetingDate}}</p>
    <p>{{endTime}}</p>
  </div>
{{/each}}